.launch-container {
  display: flex;
  align-items: flex-start;
  gap: 16px; /* Adjust the space between the image and the text */
}

.launch-text {
  flex-grow: 1;
}
  
.launch-container img {
  width: 80px; /* Set the width of the image */
  height: 80px; /* Set the height of the image */
  object-fit: contain; /* Ensure that the aspect ratio of the image is preserved */
  margin-top: 18px; /* Adjust the vertical position of the image */
}

.mat-mdc-card {
  margin-bottom: 25px !important;
}