<div class="modal" #myModal>
  <div class="modal-content">
    <!-- <span class="close" (click)="closeModal()">&times;</span> -->
    <mat-icon class="close" (click)="closeModal()">close</mat-icon>
    <!-- Centralized Image With Class `launch-container` -->
    <img [src]="mission?.links?.mission_patch_small" alt="{{ mission.mission_name }} mission patch" class="launch-container image-modal" />
    <h2>Mission: {{ mission.mission_name }}</h2>
    <p>Launch Year: {{ mission.launch_year }}</p>

    <h2>Rocket:</h2>
    <p>Name: {{ mission?.rocket?.rocket_name }}</p>
    <p>Type: {{ mission?.rocket?.rocket_type }}</p>

    <h2>Launch Site:</h2>
    <p>Name: {{ mission?.launch_site?.site_name_long }}</p>

    <h2>Launch Details:</h2>
    <p>{{ mission.details }}</p>

    <h2>More Info:</h2>
    <p><a [href]="mission?.links?.wikipedia" target="_blank">Wikipedia</a></p>
    <p><a [href]="mission?.links?.video_link" target="_blank">Video</a></p>
  </div>
</div>